<div class="border-bottom" style="margin-bottom:16px;padding-bottom:4px;"">
  <div class="row">
    <div class="col-1">
      {{emp['Sr. No']}}
    </div>
    <div class="col-1">
      {{emp['Scheme_Name']}}
    </div>
    <div class="col-1">
      {{emp['code']}}
    </div>
    <div class="col-2">
    {{emp['Dept_name']}}
    </div>
    <div class="col-2">
     {{emp['Name_Emp']}}
    </div>
    <div class="col-2">
     {{emp['Fathers_Name']}}
    </div>
    <div class="col-2">
    {{emp['No. of Days']}}
    </div>
</div>
