<!DOCTYPE html>
<html>
  <head>
    <title>Attendance Sheet</title>  
  </head>
  <body>
    <img src="/static/logo_new.png" height="320">
    <h1>Attendance Sheet</h1>  
    <h2> Absentee Statement for the month of December, 2023 (DPLs on Contract)</h2>
    <table>
      <th>Sr. No.</th>
      <th>Scheme</th>
      <th>Employee Code</th>
      <th>ID</th>
      <th>Name of the Employee</th>
      <th>Father's Name</th>
      <th>No. of Days Present</th>
      <th>Remarks</th>
      
      
    </table>
  </body>
  
</html>